<div class="container">
    @if(animais.length > 0){
    <div class="row col-md-8 offset-md-2">
        <h1 class="text-center">Animais Cadastrados</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class="text-center">#</th>
                    <th scope="col" class="text-center">Nome</th>
                    <th scope="col" class="text-center">Espécie</th>
                    <th scope="col" class="text-center">Cliente</th>
                    <th scope="col" class="text-center">Opções</th>
                </tr>
            </thead>
            <tbody>
                @for (animal of animais; track animal.id) {
                <tr>
                    <th scope="row" class="text-center">{{ animal.id}}</th>
                    <td>{{ animal.nome }}</td>
                    <td class="text-center">{{ animal.especie }}</td>
                    <td class="text-center">{{ animal.clienteNome }}</td>
                    <td class="text-center"><i class="bi bi-trash mx-2" (click)="deleteAnimal(animal.id!)"></i></td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    }@else {
    <div class="row">
        <h1 class="text-center">Nenhum Animal Cadastrado</h1>
    </div>
    }
</div>