<div class="container">
    @if(clientes.length > 0){
    <div class="row col-md-8 offset-md-2">
        <h1 class="text-center">Clientes Cadastrados</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class="text-center">#</th>
                    <th scope="col" class="text-center">Nome</th>
                    <th scope="col" class="text-center">CPF</th>
                    <th scope="col" class="text-center">Telefone</th>
                    <th scope="col" class="text-center">Opções</th>
                </tr>
            </thead>
            <tbody>
                @for (cliente of clientes; track cliente.id) {
                <tr>
                    <th scope="row" class="text-center">{{ cliente.id}}</th>
                    <td>{{ cliente.nome }}</td>
                    <td class="text-center">{{ cliente.cpf }}</td>
                    <td class="text-center">{{ cliente.fone }}</td>
                    <td class="text-center"><i class="bi bi-pen edit-icon" (click)="editCliente(cliente.id!)"></i><i class="bi bi-trash mx-2" (click)="deleteCliente(cliente.id!)"></i></td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    }@else {
    <div class="row">
        <h1 class="text-center">Nenhum Cliente Cadastrado</h1>
    </div>
    }
</div>