<div class="container">
    @if(clientes.length == 0){
    <div class="col-md-6 offset-md-3">
        <p>Nenhum cliente cadastrado. Favor cadastar cliente antes de cadastrar animais.</p>
    </div>
    }@else{
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center">Cadastrar Animal</h1>
            <form [formGroup]="formAnimal" (ngSubmit)="addAnimal()" class="mb-5">
                <div class="mb-3">
                    <label for="nome" class="form-label">Nome do Animal:</label>
                    <input type="text" class="form-control" id="nome" formControlName="nome" required />
                </div>
                <div class="mb-3">
                    <label for="idade" class="form-label">Idade:</label>
                    <input type="text" class="form-control" id="idade" formControlName="idade" required />
                </div>
                <div class="mb-3">
                    <label for="especie" class="form-label">Espécie</label>
                    <select class="form-control" id="especie" formControlName="especie" required>
                        <option value="canino">Canino</option>
                        <option value="felino">Felino</option>
                        <option value="lapino">Lapino</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="clienteId" class="form-label">Cliente</label>
                    <select class="form-control" id="clienteId" formControlName="clienteId" required>
                        @for(cliente of clientes; track cliente.id){
                            <option [value]="cliente.id">
                            {{ cliente.nome }}
                            </option>
                            }
                    </select>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                    <button type="reset" class="ms-2 btn btn-danger">Limpar</button>
                </div>
            </form>
        </div>}
</div>